
@{
    ViewBag.Title = "CreateNewEmployee";
}

<h2>Create New Employee</h2>

<label>First Name:</label>
<input id="FirstNameInput" type="text" />

<label>Last Name:</label>
<input id="LastNameInput" type="text" />

<label>Email Address:</label>
<input id="EmailAddressInput" type="text" />

<button id="CreateNewEmployee_SubmitBtn" type="button">Create New Employee</button>