
@{
    ViewBag.Title = "CreateNewEmployee";
}

<h2>Create New Employee</h2>

<label>First Name:</label>
<input id="FirstNameInput" class="form-control" type="text" />

<label>Last Name:</label>
<input id="LastNameInput" class="form-control" type="text" />

<label>Email Address:</label>
<input id="EmailAddressInput" class="form-control" type="text" />

<button id="CreateNewEmployee_SubmitBtn" class="btn btn-primary" type="button">Create New Employee</button>