@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col">
        <h1>Employee Editor</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table id="Employee_Table" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody id="EmployeeTable_Body">

            </tbody>
        </table>
    </div>
    <div class="col-md-6">

    </div>
</div>